nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
}
nav a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
}
nav a:hover {
    background-color: #04aa6d;
    color: white;
}

#price-range-slider {
    width: 150px; /* Adjust the width as needed */
    height: 10px;
    display: inline-block;
    margin: 0 15px ;
}

/* Adjust the color of the slider handles and connect line */
#price-range-slider .noUi-handle,
#price-range-slider .noUi-connect {
    background-color:#04aa6d ; /* Change to your desired color */
}
#price-range-slider .noUi-handle{
    border-radius: 50%;
    height: 20px;
    width: 20px;

}
.noUi-handle:after, .noUi-handle:before{
    content: "";
    display: none !important; 
}


#tbl {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tbl td,
#tbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tbl tr:hover {
    background-color: #ddd;
}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}



footer {
    margin-top: 50px;
    background-color: #04aa6d;
    color: white;
    padding: 20px;
    text-align: center;
}
